In [1]:
import pandas as pd

In [2]:
fruits = pd.DataFrame(columns=['Apples', 'Bananas'])
fruits

Empty DataFrame
Columns: [Apples, Bananas]
Index: []

In [3]:
fruits_data = {
    "Apples" : [35, 41],
    "Bananas" : [21, 34]
}
pd.DataFrame(fruits_data)

   Apples  Bananas
0      35       21
1      41       34

In [4]:
fruit_sales = pd.DataFrame({
    "Apples": [35, 41],
    "Bananas": [21, 34]},
    index = ["2017 Sales", "2018 Sales"]
)
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [5]:
fruit_sales.to_csv("fruit.csv", index=True)